p.loginError {
}

form.login {
}

html {
  text-align: center;
  font-size: 14pt;
  font-family: sans-serif;
}

body {
	width: 8in;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  color: #bf9000;
  font-size: 24pt;
  margin: 1rem;
}

h2 {
	color: #bf9000;
	font-size: 20pt;
	text-align: left;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #900;
}

a:active {
  text-decoration: underline;
  outline: 0;
}

input, button {
	background-color: #fff;
	color: #000;
	padding: 0.3em;
	border: 2pt solid black;
}

input:hover, button:hover, button:active {
	background-color: #eee;
}

button {
	display: inline-block;
	box-shadow: 0.2em 0.2em 0 0 black;
	margin: 0.2em;
	vertical-align: top;
	font: inherit;
	font-size: smaller;
	min-width: 5em;
}

button:active {
	box-shadow: none;
	margin: 0.4em 0 0 0.4em;
}

button.space {
	margin-right: 5.2em;
}

button.space:active {
	margin-right: 5em;
}

div.buttons {
	border: 1px solid black;
}

/* Login and Register */
form.login+img {
	float: right;
	width: auto;
	height: 2in;
}

p.loginError {
	color: #f00;
}

form[method="POST"]>label {
	display: inline-block;
	text-align: left;
	width: 6em;
}

form[method="POST"]>input {
	display: inline-block;
	text-align: left;
	margin-bottom: 0.5em;
	width: 12em;
}

/* Register */
form:not(.login)>label {
	width: 10em;
}

input.error {
	border-color: #f00;
	background-color: #fff3f3;
}

input.error:hover, input.error:active {
	background-color: #ffe8e8;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 1em 0 1.4em 0;
}

ul.errors > li {
	display: block;
	width: 100%;
	border: 2pt solid red;
	color: red;
	background-color: #fff3f3;
	font-size: smaller;
	padding: 0.5em;
	margin-bottom: 0.5em;
	box-sizing: border-box;
}

/* Now Playing */

ul.nowplaying {
  text-align: left;
  padding-left: 0;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-sizing: content-box;
  list-style-type: none;
  font-size: 0;
  box-shadow: inset 0 0 0 2pt black;
}

ul.nowplaying li {
  display: inline-block;
  font-size: 1rem;
  width: 15rem;
  padding: 0.3em;
  box-sizing: border-box;
  border-bottom: 2pt solid black;
  border-right: 2pt solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav.me {
  display: block;
  position: absolute;
  top: 1.5rem;
  width: 1.5rem;
  left: calc(50% - 15rem);
  line-height: 0.8;
  font-size: 0.7rem;
}

nav.me img {
  width: 100%;
  height: auto;
}

nav.me > a:hover img,
nav.me > a:active img {
  filter: url(#mef); /* Change color */
}

/* Me */

ul:not([class])>li>a {
	display: block;
	margin-bottom: 2em;
	text-decoration: underline;
	color: #275d98;
}

/* Movie */

body>h2+aside {
	float: left;
	margin-left: 2em;
	background-color: #262626;
	color: #fff;
	min-width: 3in;
	font-style: italic;
	font-family: serif;
}

body>h2+aside>p {
	margin: 0 1em 0;
}

body>h2+aside>p.released {
	margin-top: 1em;
}

body>h2+aside>p.released>span {
	display: block;
	font-style: normal;
	font-family: 'Impact', sans-serif;
	text-transform: uppercase;
	margin: 0.2em 0 0.3em 0;
	font-size: 150%;
}

body>h2+aside>p.rating, body>h2+aside>p.length {
	display: inline;
	margin: 0;
}

body>h2+aside>p.rating:after {
	content: ', ';
}

body>h2+aside>p.score {
	margin-top: 1em;
	font-size: 120%;
}

body>h2+aside>p.score a {
	display: inline-block;
	color: #ef5825;
	padding-bottom: 0.3em;
}

body>h2+aside>p.reviews {
	margin-bottom: 1em;
}

body>h2+aside>p.reviews a {
	display: block;
	color: #fff;
}

body>h2+aside+form {
	float: right;
	width: calc((3in - 10em) / 2 + 12em);
}

body>h2+aside+form button {
	display: block;
	width: 10em;
	margin-top: 1em;
}

body>h2+aside+form button:active {
	margin-top: 1.2em;
	margin-bottom: -0.2em;
}

/* Overview */

body>h2+article {
	width: 100%;
	text-align: left;
	margin-left: 1em;
}

body>h2+article>h3 {
	font-family: serif;
	font-weight: normal;
	font-size: 100%;
	font-style: italic;
}

body>h2+article>*.cast {
	font-size: 120%;
	margin: 1rem 0 1rem;
}

body>h2+article+form {
	width: 100%;
	text-align: left;
	margin-left: 1em;
}
body>h2+article+form>button {
	width: 10em;
}

/* Order History */

.order-history__table {
  margin: 50px auto;
}

.order-history__table tr > * {
  padding: 5px 20px;
}

.btn {
  border: 1px solid #000;
  padding: 10px 20px;
}
